
h1,h2,h3,h4,h5,h6,p,ul,a,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.nav_ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 510px;
  
}
.nav_link{
  color: #000;
  font-weight: 600;
  font-size: 16px;
}
.nav_call{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.nav_call_link:hover{
  background-color: #F8FAFC;
  color: #6183E4;
  transition: 0.5s;
}
.nav_call_link{
  border-radius: 15px;
  border: 1px solid #6183E4;
  padding: 13px 18px;
  background-color: #6183E4;
  color: #F8FAFC;
}
.nav_button_call{
  border-radius: 15px;
  border: 1px solid #6183E4;
  padding: 13px 18px;
  color: #6183E4;
}
.nav_button_call:hover{
  background-color: #6183E4;
  color: #F8FAFC;
  transition: 0.5s;
}

.header_video{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header_bar{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 737px;
  padding: 80px 0 0;
}
.header_foto{
  width: 587px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 500px;
}
.header_title{
  font-size: 65px;
  font-weight: 500;
}
.header_subtitle{
  font-size: 50px;
  font-weight: 500;
}
.header_text{
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
}
.header_ican{
  margin-top: 60px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 490px;
}
.header_play{
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}
.header_fa{
  border: 1px solid #6183E4;
  border-radius: 50%;
  padding: 16px 17px;
  background: #6183E4;
}
.header_img_foto{
  position: absolute;
  z-index: 1;
  top: 300px;
  right: 105px;
}
.header_next{
  background-color: #F7CE46;
  padding: 15px 20px;
  border-radius: 15px;
  color: #0F172A;
}
iframe{
  width: 720px;
  height: 400px;
  border-radius: 20px;
}
.header_landing{
  margin-top: 80px;
}
.header_lading_title{
  font-size: 50px;
  margin-bottom: 30px;
}
.header_subtitle_text{
  color: #6183E4;
}
.section_main{
  margin-top: 100px;
}
.main{
  text-align: center;
  margin-bottom: 100px;
}
.main_title{
  color: #6183E4;
  font-size: 16px;
  font-weight: 600;
}
.main_subtitle{
  font-size: 52px;
  font-weight: 600;
}
.main_bar{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  max-width: 306px;
}
.main_job{
  font-size: 21px;
  font-weight: 600;
  color: #090914;
  margin-top: 45px;
}
.main_text{
  font-size: 13px;
  font-weight: 500;
  margin-top: 15px;
  color: #6183E4;
}
.main_slider{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_img{
  border-radius: 20px;
}
.section_messanger{
  margin-top: 100px;
}
.messanger_title{
  font-size: 42px;
  color: #18181B;
  font-weight: 700;
}
.messanger_subtitle{
  margin-top: 25px;
  font-size: 16px;
  font-weight: 400;
}
.section_mall{
  display: flex;
  width: 200px;;
  justify-content: center;
  align-items: center;
  background-color: #6183E4;
  color: #F8FAFC;
  padding: 15px 15px;
  border-radius: 15px;
}
.section_next{
  background-color: #F7CE46;
  padding: 15px 20px;
  border-radius: 15px;
  color: #0F172A;
}
.section_bar{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 490px;
  padding: 80px 0 0;
}

.section_ican{
  margin-top: 60px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 490px;
}
.already_zip{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttun_already{
  padding: 10px;
  margin: 0 20px 0 0;
}
.already_li{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 0 0;
  
}
.already_title{
  font-size: 15px;
  font-weight: 700;
  color: #3F3F46;
  margin-bottom: 5px;
  
}
.already_link{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0 10px 0;
  width: 546px;
  font-size: 12px;
  font-weight: 700;
  color: #18181B;
}

.section_more{
  box-shadow: 1px -1px 21px 3px rgba(0,0,0,0.33);
  -webkit-box-shadow: 1px -1px 21px 3px rgba(0,0,0,0.33);
  -moz-box-shadow: 1px -1px 21px 3px rgba(0,0,0,0.33);
padding: 45px 30px 15px;
border-radius: 20px;
}
.already_img{
  padding: 0 0 0 300px;
}
.already_img-buttun{
  padding: 0 0 0 336px;
}
.already_im{
  padding: 0px 0 0 345px;
}
.already_i{
  padding: 0 0 0 320px;
}
.exaple{
  font-size: 52px;
  font-weight: 600;
  margin: 100px;
}
.our_text{
  margin-top: 35px;
}
.our_subtitle{
  color: #6183E4;
  font-size: 14px;
  font-weight: 600;
}
.our_title{
  font-size: 24px;
  color: #101828;
  font-weight: 600;
  margin-top: 8px;
}
.our_next{
  font-size: 16px;
  font-weight: 400;
  color: #667085;
  margin-top: 8px;
}
.our_col{
  box-shadow: 1px -1px 21px 3px rgba(0,0,0,0.33);
  -webkit-box-shadow: 1px -1px 21px 3px rgba(0,0,0,0.33);
  -moz-box-shadow: 1px -1px 21px 3px rgba(0,0,0,0.33);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0 75px;
  margin: 5px 20px 20px;
    width: 400px;
}
.our_img{
  padding: 0 0 0 130px;
}
.rate_text{
  text-align: center;
  padding: 60px 0 0;
}
.rate_title{
  font-size: 52px;
  font-weight: 600;
  color: #fff;
}
.section_rate{
  background: url(../img/Rectangle\ 3307.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 707px;
  position: relative;
  z-index: -1;
}
.img_cost{
  position: absolute;
  
}
.img_font{
  width: 1600px;
  position: absolute;
  z-index: -2;
}
.rate_cost{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: #fff;
  border-radius: 20px;
  margin: 90px 0 0;
  padding: 30px 0px 0px
}
.cost_title{
  color: #000;
  font-size: 12px;
  font-weight: 400;
  
}
.cost_subtitle{
  color: #000;
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
}
.cost_text{
  color: #000;
  font-size: 47px;
  font-weight: 700;
  margin-top: 5px;
}
.font_title{
  color: #000;
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
}
.font_btn{
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding: 10px 90px;
  background-color: #6183E4;
  border-radius: 20px;
  margin: 25px 0 45px; 
  border: 1px solid #6183E4;
}
.cost_font{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
}
.cost_post{
  display: flex;
    
    align-items: center;
    padding: 0 0px 0 330px;
    width: 180px;
    
}
.free_text{
  text-align: center;
  padding: 80px 0 0 0;
  
  
}
.free_title{
  background-color: #F7CE46;
  padding: 20px 25px;
  border-radius: 5px;
  color: #000;
font-weight: 600;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;800&display=swap" rel="stylesheet"');
	
	 
	
	.accordionItemHeading {
	
		background-color: #F8FAFC;
	
		color: rgb(0, 0, 0);
	
		cursor: pointer;
	
		
	
		width: 100%;
	
		border: none;
	
		text-align: left;
	
		outline: none;
	
	  font-family: Montserrat, 'Montserrat';
	
	  font-weight: 400;
	
	  font-size: 18px;
	
    padding: 12px 16px;
	
		transition: 0.5s;
	
    margin: 10px 0;
	}
	
	.accordionItemHeading:hover {
	
		background-color: #F8FAFC;
	
	}
	
	
  .accordionItemHeading:hover{
    color: #6183E4;
  }
	
	.accordionItemHeading:after {
	 
		content: '\002B';
	
		color: #fff;
	
			font-size: 18px;
	
		font-weight: bold;
	
		float: right;
	
		margin-left: 5px;
	
	   
	
	}
	
	
	
	
	.accordionItemContent {
	border-bottom: 1px solid #6183E4;
		padding: 0 18px;
	
			color: #000000;
	
		background-color: rgb(255, 255, 255);
	
		max-height: 0;
	
		overflow: hidden;
	
		transition: max-height 0.3s ease-out;
	
		font-family: Montserrat, 'Montserrat';
	
	  font-weight: 400;
	
	  font-size: 14px;
	
	
	}
  .add_section{
    margin-top: 70px;
  }
  .add_title{
    color: #000;
    font-size: 52px;
  }
  .add_text{
    text-align: center;
    margin-bottom: 65px;
  }
  .footer_main{
    background: #E0E0E0;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  .logo_main{
    width: 92px;
    height: 65px;
    background-color: #4B4B4B;
  }
  .footer_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 25px;
  }
  .footer_ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer_rate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 930px;
  }
  .logo_rate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
  }
  .footer_item{
    padding: 0 25px;
  }
  .img_footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
  }
  .footer_text{
    color: #969696;
    font-size: 15px;
    font-weight: 400;
    padding: 0 20px;
  }
  .footer_link{
    color: #000;
    font-size: 16px;
    font-weight: 400;
  }




